.box{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.lilBox{
    /*display: inline-flex;*/
    /*width: 20%;*/
    /*height: 600px;*/
    /*flex-direction: column;*/
    /*outline: gray;*/

    border-radius: 20px;
    box-shadow:5px 2px 10px #868686;
    width:25%;
    height:480px;
    margin-right:60px;
    background-color: aliceblue;
}

.bigBox{
    /*display: inline-flex;*/
    /*width: 20%;*/
    /*height: 600px;*/
    /*flex-direction: column;*/
    /*outline: gray;*/
    display: inline-flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow:5px 2px 10px #868686;
    width:80%;
    height:480px;
    margin-left:10%;
    margin-bottom: 5%;
    background-color: aliceblue;
    overflow:auto;
}

.detailBox{
    margin-left: 5%;
    margin-right: 5%;
    /*margin-top: 5%;*/
}

.pTitle{
    font-size: xx-large;
    margin-top: 5%;
}

.pSummary{
    font-size: small;
    color: lightskyblue;
}

.pDesc{
    font-size: x-large;
}

body{
    background-color: #d0e9ff;
    font-family: "Microsoft YaHei","Arial","黑体","宋体",sans-serif;
}

a{
    text-decoration:none;
}

.descriptionIFrame{
    height:300px;
    width:100%;
    display:block;
    pointer-events: none;
}

h1{
    margin-left: 12px;
}

table{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
}

.clickToLoad{
    display:flex;
    justify-content: center;
    align-items: center;
}

.addBoxBox{
    /*display: inline-flex;*/
    /*width: 20%;*/
    /*height: 600px;*/
    /*flex-direction: column;*/
    /*outline: gray;*/
    display: inline-flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow:5px 2px 10px #868686;
    width:80%;
    height:48px;
    margin-left:10%;
    margin-bottom: 5%;
    background-color: aliceblue;
    overflow:auto;
}

input{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 13px 14px;
    width: 90%;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}
input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.submitBtn{
    width: 200px;
    border-radius: 10px;
    background-color: #d0e9ff;
}

.inputBox{
    margin-bottom: 5%;
}